*{margin:0;padding:0;}
body{font-family:work sans;font-size: 16px;}
h1,h2,h3,h4,h5,h6{
    font-family: oswald;font-weight: 500;
}
.container{margin: auto;width: 892px;padding:0px 0px;overflow: hidden;}
.phone {
    display: inline-block;
    float: left;
    padding: 14px;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    color: #414141;
}

.phone i {
    margin-right: 8px;
    color: #ff5200;
}

.email {
    display: inline-block;
    width: 496px;
    padding: 14px;
    border-right: 1px solid lightgrey;
    color: #232323;
}

.email i {padding-right: 13px;color: #ff5200;font-size: 21px;}

.social {
    display: inline-block;
}

.social i {
    padding: 14px 13px;
    font-size: 22px;
    border-right: 1px solid lightgrey;
    color: #00000091;
    margin-right: -7px;
}

.social i:hover {
    color: #ff5200;transition:0.3s
}
.backgroundimage{background:url(slide-1.jpg)}
.projectnumber{background:url(customerNum.jpg);}
.logo {padding: 5px;width: 357px;display: inline-block;}
.bar ul li {display: inline-block;float: left;width: 71px;padding: 9px 2px;font-size: 13px;font-family: 'Oswald';font-weight: 450;letter-spacing: 1px;}
.bar {float: right;width: 525px;}
.bar ul li a {
    color: #101010;
    text-decoration: none;
}
.btntop li {
    width: 20px;
}

i.fas.fa-search {
    width: 19px;
    font-size: 21px;
}