*{margin:0;padding:0;}
body{font-family:work sans;font-size: 16px;}
h1,h2,h3,h4,h5,h6{
    font-family: oswald;font-weight: 500;
}
.container{margin: auto;width: 1140px;padding:0px 0px}



.phone {
    display: inline-block;
    float: left;
    padding: 14px;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    color: #414141;
    margin-left: 116px;
}

.phone i {
    margin-right: 8px;
    color: #ff5200;
}

.email {
    display: inline-block;
    width: 500px;
    padding: 14px;
    border-right: 1px solid lightgrey;
    color: #232323;
}

.email i {padding-right: 13px;color: #ff5200;font-size: 21px;}

.social {
    display: inline-block;
}

.social i {
    padding: 13px;
    font-size: 22px;
    border-right: 1px solid lightgrey;
    margin-right: -5px;
    color: #00000091;
}

.social i:hover {
    color: #ff5200;transition:0.3s
}